.kernel-panel {
    color: #ddd;
}

.kernel-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-display);
    color: var(--header-primary);
}

.kernel-card-scroller {
    display: flex;
    flex-direction: column;
}

.kernel-card {
    position: relative;
    border-radius: 4px;
    background: var(--background-tertiary);
    flex-grow: 1;
    padding: 15px;
    padding-bottom: 10px;
    margin: 10px 10px 10px 0;
    transition: box-shadow .2s ease-out,transform .2s ease-out,background .2s ease-out,opacity .2s ease-in,-webkit-box-shadow .2s ease-out,-webkit-transform .2s ease-out;
}

.kernel-card:hover {
    transform: translateY(-1px);
    box-shadow: var(--elevation-high);
}

.kernel-card-name {
    font-weight: 600;
    font-family: var(--font-display);
}

.kernel-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: thin solid var(--background-modifier-accent);
}

.kernel-card-tools {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -12px;
    right: -12px;
    display: flex;
    border-radius: 4px;
    background: var(--background-secondary-alt);
    box-shadow: var(--elevation-medium);
}

.kernel-toolbutton {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.kernel-toolbutton:hover {
    background: var(--background-modifier-hover);
}

.kernel-toolbutton:active {
    color: var(--interactive-active);
    background-color: var(--background-modifier-active);
}

.kernel-toolbutton:active svg {
    transform: translateY(1px);
}

.kernel-card-desc {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: thin solid var(--background-modifier-accent);
}

.kernel-footer > div {
    margin-left: auto;
}